<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>route</key>
	<dict>
		<key>route://passwordLoginVC</key>
		<string>HJPasswordLoginViewController</string>
		<key>route://codeLoginVC</key>
		<string>CordLoginViewController</string>
		<key>route://inputCodeVC</key>
		<string>HJInputCodeViewController</string>
		<key>route://setPasswordVC</key>
		<string>HJSetPasswordViewController</string>
		<key>route://inviteCodeVC</key>
		<string>HJInviteCodeViewController</string>
		<key>route://reSetPwdVC</key>
		<string>HJReSetPwdViewController</string>
		<key>route://shopCarVC</key>
		<string>HJShopCarViewController</string>
		<key>route://confirmOrderVC</key>
		<string>HJConfirmOrderViewController</string>
		<key>route://classDetailVC</key>
		<string>HJClassDetailViewController</string>
		<key>route://postEvaluationVC</key>
		<string>HJPostEvaluationViewController</string>
		<key>route://searchResultVC</key>
		<string>HJSearchResultViewController</string>
		<key>route://MoreResultVC</key>
		<string>HJMoreResultViewController</string>
		<key>route://schoolDetailLiveVC</key>
		<string>HJSchoolDetailLiveViewController</string>
	</dict>
</dict>
</plist>
